
/* 
	STYLE.CSS:
	One stylesheet to rule them all.
	
	selector { property:value }
	
*/

@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Lato);

body {
  background-color: #5f5345;
}
 
.pageContainer {
  width: 940px;
  margin: 20px auto 0 auto;
  padding: 20px;
  background-color: #5f5345;
}
 
.imageContainer {
  float: left;
  width: 620px;
  background-color: #5f5345;
}
 
.textContainer {
  float: left;
  width: 300px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #5f5345;
}

img {
  width: 100%;
}
 
h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 80px;
  color: #8b1b00;
}
 
p, li {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  color: #fff;
}




/* ---- Advanced ---- */
/* This tag is a bit advanced for this lesson,  
   but is needed to wrap the pageContainer 
   around any sized content that is floated within it. */

.pageContainer:after { 
  content: " ";
  display: table;
  clear: both;
}
 
